<% title :edit_something.l_with_args(:something => :page.l).capitalize -%>

<%= link_to :show.l, @page %>
<%= link_to :delete.l, @page, :confirm => :are_you_sure?.l.capitalize, :method => :delete %>

<fieldset>
  <legend><%= :page.l.capitalize %></legend>
  <% form_for(@page) do |f| %>
    <%= f.hidden_field :section_id %>
    
    <p>
      <%= f.label :title, :title.l.capitalize %><br />
      <%= f.text_field :title %>
      <%= error_message_on @page, :title %>
    </p>
    <p>
      <%= f.label :subtitle, :subtitle.l.capitalize %><br />
      <%= f.text_field :subtitle %>
    </p>
    <p>
      <%= f.label :description, :description.l.capitalize %><br />
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.submit :update.l.capitalize %>
    </p>
  <% end %>
</fieldset>

<fieldset>
  <legend><%= :pictures.l.capitalize %></legend>

  <%= render 'embedded_pictures/index' %>
  
  <%= link_to :add_new.l, new_page_picture_path(@page) %>
  
  <fieldset>
    <legend>
      <%= link_to_remote :add_in_stock.l,
          :url => new_page_embedded_picture_path(@page),
          :method => :get,
          :update => "embeddable_pictures_box" %>
    </legend>
    <div id="embeddable_pictures_box"></div>
  </fieldset>
</fieldset>

<fieldset>
  <legend><%= :documents.l.capitalize %></legend>

  <%= render 'embedded_documents/index' %>
  
  <%= link_to :add_new.l, new_page_document_path(@page) %>
  
  <fieldset>
    <legend>
      <%= link_to_remote :add_in_stock.l,
          :url => new_page_embedded_document_path(@page),
          :method => :get,
          :update => "embeddable_documents_box" %>
    </legend>
    <div id="embeddable_documents_box"></div>
  </fieldset>
</fieldset>

