<% title ' - ' + @page.title %>

<h2><%= @page.subtitle %></h2>

<% admin_area do -%>
<%= link_to :edit.l, edit_page_path(@page) %>
<%= link_to :delete.l, @page, :confirm => :are_you_sure?.l.capitalize, :method => :delete %>
<% end -%>

<div><%= @page.description %></div>

<div style="position: relative; margin: 0px; padding: 0px; padding-left: 301px;">
  <fieldset style="position: relative;">
    <legend><%= :pictures.l.capitalize %></legend>
    <%= render 'embedded_pictures/index' %>
  </fieldset>

  <fieldset style="position: absolute; left: 0px; top: 0px; width: 267px;">
    <legend><%= :documents.l.capitalize %></legend>
    <%= render 'embedded_documents/index' %>
  </fieldset>
</div>

