<% title ' - ' + @page.title %>

<h2><%= @page.subtitle %></h2>

<% admin_area do -%>
<%= link_to :edit.l, edit_page_path(@page) %>
<%= link_to :delete.l, @page, :confirm => :are_you_sure?.l.capitalize, :method => :delete %>
<% end -%>

<div><%= @page.description %></div>

<fieldset>
  <legend><%= :pictures.l.capitalize %></legend>
  <%= render 'embedded_pictures/index' %>
</fieldset>

<fieldset>
  <legend><%= :documents.l.capitalize %></legend>
  <%= render 'embedded_documents/index' %>
</fieldset>

