<% title 'Documents' -%>

<ul id="documents">
<% @documents.each do |document| %>
  <li id="document_<%= document.id %>">
    <%= link_to_document document %>
    <% admin_area do -%>
      <%= link_to 'edit', edit_document_path(document) %>
      <%= link_to 'delete',
                  document_path(document),
                  :confirm => 'Are you sure ?',
                  :method => :delete %>
    <% end -%>
  </li>
<% end %>
</ul>

<%= link_to 'new', new_document_path %>
